.modal__container {
  width: 500px;
  height: 540px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .modal__container{
    width: 240px;
    height: 266px;
  }
}
