.popup__close-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  margin-left: 430px;
}

.popup__close-icon:hover {
  opacity: 60%;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 767px) {
  .popup__close-icon {
    margin-left: 250px;
    margin-bottom: 18px;
  }
}

