.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 26px;
  grid-area: image;
}

@media screen and (max-width: 1279px) {
  .profile__avatar {
    margin-left: 75px;
  }
}