.add__title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 54px;
  margin-left: 36px;
  margin-bottom: 54px;
}

@media screen and (max-width: 767px) {
  .add__title {
      font-size: 18px;
      line-height: 22px;
  }
}