.add__popup {
  width: 455px;
  height: 355px;
  border-radius: 2%;
  z-index: 3;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  }

  @media screen and (max-width: 767px) {
    .add__popup {
       width: 282px;
       height: 322px;
    }
  }

.add__popup_active {
  opacity: 1;
  transition: opacity 1.5s;
}