.popup {
width: 455px;
height: 355px;
border-radius: 2%;
z-index: 3;
opacity: 0;
transition: opacity 1.5s;
}

@media screen and (max-width: 767px) {
  .popup {
     width: 282px;
     height: 322px;
  }
}

.popup.active {
  opacity: 1;
  transition: opacity 1.5s;
}
